/*
 Theme Name:   CarDealer Child
 Theme URI:    https://cardealer.potenzaglobalsolutions.com/
 Description:  Car Dealer - Child Theme.
 Author:       TeamWP @Potenza Global Solutions
 Author URI:   http://www.potenzaglobalsolutions.com
 Template:     cardealer
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, post-formats, rtl-language-support, threaded-comments, translation-ready, e-commerce, blog, grid-layout
 Text Domain:  cardealer-child
*/

/****************************************
CODIGO DE MARIO PARA EL MENU Y EL FOOTER
*****************************************/

header a:hover, #header .menu-inner div > .row #primary-menu > li.menu-item:hover > a, #header .menu-inner div > .row #primary-menu > li.menu-item > a:hover, #header .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li:hover > a, #header .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > a:hover, #header .menu-inner #mega-menu-primary-menu > li.menu-item .menu-item-woocommerce-cart-wrapper > a:hover, #header .menu-inner #mega-menu-primary-menu > li > .searchform .search > a:hover, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li.mega-current-menu-item > a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li.mega-current-menu-ancestor > a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > ul.mega-sub-menu li.mega-current-menu-ancestor > a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > ul.mega-sub-menu li.mega-current-menu-item > a, #header .menu .menu-inner div > .row #primary-menu > li.current-menu-ancestor > a, #header .menu .menu-inner div > .row #primary-menu > li > .drop-down-multilevel .current-menu-item a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > ul > li a:hover, #header .mega-menu .drop-down-multilevel li:hover > a, .mega-menu .drop-down-multilevel li:hover > a i.fa, #header .menu .menu-inner div > .row #primary-menu > li.current-menu-item > a, #header #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus, #header #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus, #header .menu-inner div > .row #primary-menu > li > .menu-item-woocommerce-cart-wrapper > a:hover, #header .menu-inner div > .row #primary-menu > li > .searchform .search > a:hover, #header.default-header .topbar li a:hover {
    color: #D0A54A;
}

#header.defualt {
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    background-color: #00000070;
}

header .mega-menu.desktopTopFixed .menu-list-items, header .mega-menu.mobileTopFixed .menu-list-items {
  background-color: #00000070;
  height:55px;
}

.mega-menu .menu-logo {
    padding: 28px 0px;
}

.Addcar a{
    padding: 20px !important;
    background: #be0000;
    border-radius: 5px;
    height: 30px;
}

.social-full{
	display: none !important;
}


.vc_custom_1531392122157, .vc_custom_1531377362945{
	display: none !important ;
}

.widgettitle::before{
	background-color: transparent !important;
}

/* menu sin transparencia*/

#header.defualt {
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    background-color: #0F2D38;
}

div.menu-list-items
 {
    height: 55px;
}

/* menu sticky sin transparencia*/

header .mega-menu.desktopTopFixed .menu-list-items, header .mega-menu.mobileTopFixed .menu-list-items {
    background-color: #0f2d38;
}

/* Altura de logo sticky*/

.sticky-logo {
    height: 35px;
}

/* socket color */

.copyright-block::before {
    background-color:  #3F5760 ;
}

/* footer color */

.footer_bg-color {
    background-color: #0F2D38;
}

/* tamño menu sticky para tablets*/



/****************************************
CODIGO DE JUAN PARA EL MENU Y EL FOOTER
*****************************************/

#header.defualt{
    height:55px;
  }

element.style {
	height: 55px !important;
}

.mega-menu{
	min-height: 55px;
}

.site-logo {
    height: 35px;
}

.mega-menu .menu-logo .site-logo {
    margin: -25px 0px;
}

div.menu-inner{
	height:55px ;
}

div.menu-list-items{
	height:55px !important;
}

header .mega-menu.desktopTopFixed .menu-list-items{
	height:55px;
}

.mega-menu .menu-logo .site-logo {
    margin: -13px 0px;
}

.site-logo {
    width: 75px;
}


#menu-item-8304 {
    padding-left: 159px !important;
	padding-right:0px !important;
}

@media (max-width:1199px) and (min-width:992px){
#menu-item-8304 {
    padding-left: 79px !important;
	padding-right:0px !important;
}
}

#menu-item-8406{
	padding-left:0px;
}

@media (max-width:991px) and (min-width:768px){
	#menu-item-8304 {
    padding-left: 0px !important;
	padding-right:0px !important;
	}
	
	#menu-item-8406 {
    padding-left: 14px;
	}
}
@media (max-width:767px) and (min-width:576px){
	#menu-item-8304 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	
	#menu-item-8406 {
    padding-left: 14px;
	}
	
}

@media (max-width:575px){
	#menu-item-8304 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	
	#menu-item-8406 {
    padding-left: 14px;
	}

}

/****************************************
CODIGO DE PÁGINA DE CADA DEALER
*****************************************/


/****************************************
CODIGO DE PÁGINA DETALLE AUTOS
*****************************************/

/*BANNER SUPERIOR NEGRO OCUPABA MUCHO ESPACIO*/

section.inner-intro{
    height: 72,165px;
}   

.page-section-ptb, .content-wrapper-vc-enabled, .content-wrapper.blog{
    padding: 20px 0;
}

/*LOGO EN PAGINA DE CADA DEALER*/

img.logo_dealer{
    width: 256px;
    height: 72px;
}

.car-details-sidebar .details-weight {
    margin-bottom: 54px;
}