/*
 Theme Name:   CarDealer Child
 Theme URI:    https://cardealer.potenzaglobalsolutions.com/
 Description:  Car Dealer - Child Theme.
 Author:       TeamWP @Potenza Global Solutions
 Author URI:   http://www.potenzaglobalsolutions.com
 Template:     cardealer
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, post-formats, rtl-language-support, threaded-comments, translation-ready, e-commerce, blog, grid-layout
 Text Domain:  cardealer-child
*/

/****************************************
CODIGO DE MARIO PARA EL MENU Y EL FOOTER
*****************************************/

header a:hover, #header .menu-inner div > .row #primary-menu > li.menu-item:hover > a, #header .menu-inner div > .row #primary-menu > li.menu-item > a:hover, #header .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li:hover > a, #header .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > a:hover, #header .menu-inner #mega-menu-primary-menu > li.menu-item .menu-item-woocommerce-cart-wrapper > a:hover, #header .menu-inner #mega-menu-primary-menu > li > .searchform .search > a:hover, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li.mega-current-menu-item > a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li.mega-current-menu-ancestor > a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > ul.mega-sub-menu li.mega-current-menu-ancestor > a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > ul.mega-sub-menu li.mega-current-menu-item > a, #header .menu .menu-inner div > .row #primary-menu > li.current-menu-ancestor > a, #header .menu .menu-inner div > .row #primary-menu > li > .drop-down-multilevel .current-menu-item a, #header .menu .menu-inner div > .row .mega-menu-wrap #mega-menu-primary-menu > li > ul > li a:hover, #header .mega-menu .drop-down-multilevel li:hover > a, .mega-menu .drop-down-multilevel li:hover > a i.fa, #header .menu .menu-inner div > .row #primary-menu > li.current-menu-item > a, #header #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus, #header #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus, #header .menu-inner div > .row #primary-menu > li > .menu-item-woocommerce-cart-wrapper > a:hover, #header .menu-inner div > .row #primary-menu > li > .searchform .search > a:hover, #header.default-header .topbar li a:hover {
    color: #D0A54A;
}

#header.defualt {
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    background-color: #00000070;
}

header .mega-menu.desktopTopFixed .menu-list-items, header .mega-menu.mobileTopFixed .menu-list-items {
  background-color: #00000070;
  height:55px;
}

.mega-menu .menu-logo {
    padding: 28px 0px;
}

.Addcar a{
    padding: 20px !important;
    background: #be0000;
    border-radius: 5px;
    height: 30px;
}

.social-full{
	display: none !important;
}




.vc_custom_1531392122157, .vc_custom_1531377362945{
	display: none !important ;
}

.widgettitle::before{
	background-color: transparent !important;
}

/* menu sin transparencia*/

#header.defualt {
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    background-color: #0F2D38;
}

div.menu-list-items
 {
    height: 55px;
}

/* menu sticky sin transparencia*/

header .mega-menu.desktopTopFixed .menu-list-items, header .mega-menu.mobileTopFixed .menu-list-items {
    background-color: #0f2d38;
}

/* Altura de logo sticky*/

.sticky-logo {
    height: 35px;
}

/* socket color */

.copyright-block::before {
    background-color:  #3F5760 ;
}

/* footer color */

.footer_bg-color {
    background-color: #0F2D38;
}

/* tamño menu sticky para tablets*/



/****************************************
CODIGO DE JUAN PARA EL MENU Y EL FOOTER
*****************************************/


.mega-menu .menu-links > li > a{
	font-size: 12px; /*Agregado 28-05*/
}

#header.defualt{
    height:55px;
  }

element.style {
	height: 55px !important;
}

.mega-menu{
	min-height: 55px;
}

.site-logo {
    height: 35px;
}

.mega-menu .menu-logo .site-logo {
    margin: -25px 0px;
}

header .mega-menu.desktopTopFixed .menu-list-items{
	height: 55px !important;
}

div.menu-inner{
	height:55px !important;
}

div.menu-list-items{
	height:55px !important;
}

header .mega-menu.desktopTopFixed .menu-list-items{
	height:55px;
}

.mega-menu .menu-logo .site-logo {
    margin: -13px 0px;
}

.site-logo {
    width: 75px;
}

.mega-menu .menu-links {
    margin-left: 120px;
    float: left;
}

#menu-item-8304 {
    padding-left: 159px !important;
	padding-right:0px !important;
}

@media (max-width:1199px) and (min-width:992px){
#menu-item-8304 {
    padding-left: 79px !important;
	padding-right:0px !important;
}
}

#menu-item-8406{
	padding-left:0px;
}

@media (max-width:991px) and (min-width:768px){
	#menu-item-8304 {
    padding-left: 0px !important;
	padding-right:0px !important;
	}
	
	#menu-item-8406 {
    padding-left: 14px;
	}
}
@media (max-width:767px) and (min-width:576px){
	#menu-item-8304 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	
	#menu-item-8406 {
    padding-left: 14px;
	}
	
}

@media (max-width:575px){
	#menu-item-8304 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	
	#menu-item-8406 {
    padding-left: 14px;
	}

}


/****************************************
CODIGO DE PÁGINA DETALLE AUTOS
*****************************************/

.page-section-ptb, .content-wrapper-vc-enabled, .content-wrapper.blog{
    padding: 20px 0;
}

/****************************************
ESTILOS PARA PÁGINA DE CADA DEALERS
*****************************************/

/*LOGO EN PAGINA DE CADA DEALER*/

img.logo_dealer{
    width: 100%;
    height: 100%;
}

.car-details-sidebar .details-weight {
    margin-bottom: 54px;
}

div.profile-img{
    float: left;
}

div.nombre-dealer{
    float: left;
    padding-left: 36px;
}

/*SECCION DEL FILTRO EN PAGINA DE CADA DEALER*/

.price-filtrar{
	padding-left: 30px;
    padding-top: 31px;
}

.price-dealer{
	padding-top:10px;
	padding-bottom:20px;
}

/*BANNER DE DATOS DE CADA DEALER*/

.id-dealer{
	margin-top: -46px; /*ANTES CUANDO NO SE HABIA ARREGLADO DEALER ACCOUNT ERA DE 15PX*/
    background-color: #3F5760;
	
}

.dealer-izquierda{
	/*float:left;
	position:relative;
	font-family:Playfair Display;
	font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;*/
	padding-top:43px;
	margin-bottom:-22px;/*-41*/
	margin-left:-20px;
}


.dealer-derecha{
	padding-top:43px;
	margin-bottom:-43px;
	float:right;
		
}

.text-dealer{
	font-size:22px;
	color:white;
	padding-top: 33px;/*17*/
    margin-bottom: -25px;/*-6*/
}

button.direccion-dealer{
	background-color: #3F5760;
	color:white;
	border: 1px solid white;
}

button.email-dealer{
	background-color: #3F5760;
	color:white;
	border: 1px solid white;
}

button.tel-dealer{
	background-color: #3F5760;
	color:white;
	border: 1px solid white;
}

button.direccion-dealer :hover{
	color:white;
}

button.email-dealer :hover{
	color:white;
}

button.tel-dealer :hover{
	color:white;
}

a.direccion-dealer{
	color:white;
}

a.email-dealer{
	color:white;
}

a.tel-dealer{
	color:white;
}

/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
	.price-filtrar{
		float:left;
		padding-left: 0px;
   	 	padding-top: 10px;
	}
}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){
	
	div.profile-img{
		width:191px !important;
	}
	
	.dealer-derecha{
		float:right !important;
	}
	
	.text-dealer{
	font-size:18px;	
	}
	
	button.direccion-dealer{
		font-size:11px;
		padding:0px 14px;
	}
	
	button.email-dealer{
		font-size:11px;
		padding:0px 14px;
	}
	
	button.tel-dealer{
		font-size:11px;
		padding:0px 14px;
	}
	
	div.nombre-dealer{
		padding-left:
	}

	div.direccion{
		/*float:left;*/
		padding-top:14px;
		padding-left:0px;
	}
	
	div.email{
		padding-top:14px;
		padding-left:0px !important;
		padding-right:15px;
		
	}
	
	div.telefono{
		padding-top:14px;
		padding-left:0px !important;
		width:101px !important;
	}
	
	
	.cars-top-filters-box-left .price{
		width:147px !important;
	}
	
	#dealer-slider-amount{
		font-size:11px !important;
	}
	
	.price-filtrar{
		float:left;
		padding-left: 0px;
   	 	padding-top: 10px;
	}
}


/*=============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/

@media (max-width:767px) and (min-width:576px){
	
	.dealer-derecha{
		float: right !important;
    	padding-top: 29px !important;
    	padding-bottom: 36px !important;
    	padding-left: 80px !important;
	}
	
	.text-dealer{
	font-size:34px;	
	}
	
	.cars-top-filters-box-left .price{
		width:268px !important;
	}
	
	#dealer-slider-amount{
		font-size:21px !important;
	}
	
	
	.cars-top-filters-box-left #pgs_price_filter_btn {
    	margin-top: 28px !important;
	}
	
	.price-filtrar{
		padding-left: 0px;
   	 	padding-top: 10px;
	}
}

/*=============================================
MOVIL VERTICAL (revisamos en 320px)
=============================================*/

@media (max-width:575px){
	
	div.profile-img{
		width:320px !important;
		height:128px !important;
		margin-left: 3px !important;
	}
	
	div.nombre-dealer{
		padding-left: 84px;
    	margin-top: -36px;
		margin-bottom: -21px
	}
	
	.dealer-derecha{
		float: right !important;
		margin-top: -57px !important;
    	margin-bottom: -11px !important;
	}
	
	button.direccion-dealer{
		font-size:8px;
		padding:0px 10px;
	}
	
	button.email-dealer{
		font-size:8px;
		padding:0px 10px;
	}
	
	button.tel-dealer{
		font-size:8px;
		padding:0px 10px;
	}
	
	div.direccion{
		float:left;
		width:66px !important;
		padding-left:37px !important;
	}
	
	div.email{
		float:left;
		width:99px !important;
		padding-left:51px !important;
		/*padding-left:29px !important;
		padding-right: 15px !important;*/
		
	}
	
	div.telefono{
		float:right;
		width:64px !important;
		margin-right:47px !important;
		/*padding-left:15px !important;
		margin-right:14px !important;*/
	}
	
	.cars-top-filters-box-left .price{
		width:179px !important;
	}
	
	#dealer-slider-amount{
		font-size:14px !important;
	}
	
	.price-filtrar{
		padding-left: 20px;
    	padding-top: 31px;
	}
	
	.price-dealer{
		padding-bottom:0px;
		margin-bottom:-3px !important;
	}
	
	div.widget.cars_filters{
		margin-bottom: -7px !important;
	}
}

/*=============================================
SCROOL PARA EL DIV DE MARCAS EN EL HOME
=============================================*/

.buscar-marcas {
    overflow: scroll !important;
    height: 438.27px !important;
}

/*=============================================
MOVIL VERTICAL (revisamos en 320px)
PAGINA DE DETALLES DE AUTOS
=============================================*/

@media (max-width:575px){
	
	h5.uppercase{
		width:60% !important;
	}

	.single-share-box mk-box-to-trigger{
		width:40% !important;
	}
	
}

/*=============================================
DETALLES EN PAGINA DEALER ACCOUNT
=============================================*/


div#main.wrapper{
	padding-top: 40px;
}


