<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

h1, h2, h3, h4, h5, h6, body, html{
  font-family: Playfair Display;
}</style>
<!-- end Simple Custom CSS and JS -->
