<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media (min-width:992px){

	/*#header.defualt{
    height:101px;
  }*/

  /*element.style{
    height:101px;
  }*/

  /*.site-logo{
    height:54px;
  }*/
  
  .mega-menu .menu-logo, .mega-menu img, .mega-menu>section.menu-list-items{
    margin: -3px 0;
  }

  .mega-menu{
    font-size:12px;
  }

  /*.mega-menu img{
    max-width:none;
    width:127px;
  }*/

  /*.menu-logo img{
    top:-3px;
  }*/

  .mega-menu .menu-logo{
    22px 0px !important;
  }

  /*ul#primary-menu.menu-links{
    padding-right:200px;
  } este si va comentado*/

}

.Addcar a {
  background: none;
}

</style>
<!-- end Simple Custom CSS and JS -->
