<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media (max-width:1199px) and (min-width:992px){
	
  .dealer_des{
    width:618px !important;
  }
    
}
  
@media (max-width:991px) and (min-width:768px){
  
  .dealer_des{
    width:462px !important;
  }
  
}
  
@media (max-width:767px) and (min-width:576px){
  
  .dealer_des{
    width:546px !important;
  }

}
  
  
@media (max-width:575px){
  
  .dealer_des{
    width:290px !important;
  }
  
}
</style>
<!-- end Simple Custom CSS and JS -->
