<!-- start Simple Custom CSS and JS -->
<style type="text/css">
li.dealer {
    text-transform: uppercase !important;
  	color: white !important;
  	background-color:#323232;
}

li.dealer > strong.text-right{
  color: white  !important;
}

/*#DB2E2D*/


</style>
<!-- end Simple Custom CSS and JS -->
