<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.transmission {
    display: none;
}

@media (max-width:1199px) and (min-width:992px){
  
  .table-Wrapper .heading-Wrapper{
    width:18% !important;
  }
  .table-Wrapper .table-scroll{
    width:82% !important;
  }
}

@media (max-width:575px){
  
  .table-Wrapper .heading-Wrapper{
    width:58% !important;
  }
  .table-Wrapper .table-scroll{
    width:42% !important;
  }
  
}</style>
<!-- end Simple Custom CSS and JS -->
